h1,
h2,
h3,
h4,
h5,
h6,
.nasa {
	font-family: "Nasalization";
	/* margin-bottom: 1.5rem; */
}

.jumbotron {
	background: url(./assets/images/nasa-E7q00J_8N7A-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
}

/* Slider Stylings */
.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 10px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	border-radius: 10px;
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	/* -webkit-transition: 0.2s; 0.2 seconds transition on hover */
	transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	/* -webkit-appearance: none; Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #6da4f7;
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #6da4f7; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

#latitude::-webkit-slider-thumb {
	background: #f56c49; /* Green background */
}

img {
	max-width: 250px;
}

/* CUSTOM FONTS */
@font-face {
	font-family: "Nasalization";
	src: url("./assets/fonts/nasalization/nasalization_rg.ttf");
}

@font-face {
	font-family: "Bambi";
	src: url("./assets/fonts/X_BAMBI.TTF");
}
